<div class="row my-4 py-4 border border-3 m-0">
    <div class="col-md-6">
        <label class="form-label float-start">Region:</label>
        <select #selectedRegion class="form-select w-50" (change)="regionSelected(selectedRegion.value)">
            <option selected>Select Region</option>
            <option *ngFor="let region of regionList$ | async">{{region | titlecase }}</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label float-start">Country:</label>
        <select #selectedCountry class="form-select w-50" (change)="countrySelected(selectedCountry.value)">
            <option selected>Open this select menu</option>
            <option *ngFor="let country of countryList$ | async">{{country.name}}</option>
        </select>
    </div>
</div>