<div class="row my-4 py-4 border border-3 m-0">
    <div class="col-md-6">
        <label class="form-label float-start">Region:</label>
        <select class="form-select w-50" (change)="regionSelected()" [(ngModel)]="regionValue">
            <option selected>Select Region</option>
            <option *ngFor="let region of regionList">{{region | titlecase }}</option>
          </select>
    </div>
    <div class="col-md-6">
        <label class="form-label float-start">Country:</label>
        <select class="form-select w-50">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>