<div class="row">
    <div class="col-md-12" *ngIf="isCountrySelected$ | async">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{selectedCountryDetails.name }}</td>
                </tr>
                <tr>
                    <td>Capital:</td>
                    <td>{{selectedCountryDetails.capital }}</td>
                </tr>
                <tr>
                    <td>Population:</td>
                    <td>{{selectedCountryDetails.population }}</td>
                </tr>
                <tr>
                    <td>Currencies:</td>
                    <td>{{selectedCountryDetails.currencies[0].name }}</td>
                </tr>
                <tr>
                    <td>Flag:</td>
                    <td><img [src]="selectedCountryDetails.flag " [alt]="selectedCountryDetails.name " /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>