<div class="row">
    <div class="col-md-12" *ngIf="isCountrySelected$ | async">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{countryDetails.name}}</td>
                </tr>
                <tr>
                    <td>Capital:</td>
                    <td>{{countryDetails.capital}}</td>
                </tr>
                <tr>
                    <td>Population:</td>
                    <td>{{countryDetails.population}}</td>
                </tr>
                <tr>
                    <td>Currencies:</td>
                    <td>{{countryDetails.currencies}}</td>
                </tr>
                <tr>
                    <td>Flag:</td>
                    <td><img [src]="countryDetails.flag" [alt]="countryDetails.name" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>