<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>XYC</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>XYC</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>XYC</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>XYC</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>XYC</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>